<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scottish Weekend</title>
    <link rel="stylesheet" href="css/scottish_weekend.css" />
  </head>
  <body>
    <div class="event-container">
      <div class="date-banner">
        <p>12, 13 and 14 September 2025</p>
      </div>
      <div class="event-details">
        <h1>38th Scottish</h1>
        <h1>Weekend</h1>
      </div>
    </div>

    <div class="lower">
      <div class="program">
        <h1>Programme</h1>
        <p>
          We are currently working on the 2025 programme. As soon as there is
          more information, you can find it on <a href="/">this page.</a>
        </p>
        <p>The opening hours are given here:</p>
        <h2>Entrance for visitors</h2>
        <ul>
          <li>
            <strong>Friday</strong> 19h00 – 01h00 via Cow Gate – only parking B
            (free)
          </li>
          <li>
            <strong>Saturday</strong> 9:00 – 01:00 – car parks A&B (paying)
            available
          </li>
          <li>
            <strong>Sunday</strong> 9:00 – 21:30 – car parks A&B (paying)
            available
          </li>
        </ul>
        <div class="highlight-box">
          <p>
            <strong
              >Children under 15 have free entry and do not need to be booked in
              advance.</strong
            >
          </p>
        </div>
        <p>
          People aged <strong>15 up to and including the age of 21</strong> pay
          only <strong>€10!</strong>
        </p>

        <h2>VIP Entracnce</h2>
        <p>
          11:00 – 19:00(visitors area as from 9:00) – VIP Parcking included in
          the tickets.
        </p>

        <h2>Competitions Entracnce</h2>
        <p>Saturday and Sunday 8h00 via Cow Gate</p>
        <ul>
          <li><strong>Saturday</strong> 8am</li>
          <li><strong>Sunday</strong> 8am</li>
        </ul>

        <h2>Comping (Administration)</h2>
        <ul>
          <li><strong>Thurday</strong> 14:00 - 23:00</li>
          <li><strong>Friday</strong> 08:00 - 23:00</li>
          <li><strong>Saturday</strong> 08:00 - 23:00</li>
          <li><strong>Monday</strong> 08:00 - 12h camping clouser</li>
        </ul>
        <p>All instructions and information can found <a href="/">here</a></p>
      </div>
    </div>
  </body>
</html>
