/* General Styles */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 50px 65px 50px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

/* Form Heading */
h1 {
    font-size: 25px;
    margin-bottom: 35px;
    margin-top: -10px;
    color: #333;
}

/* Form Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit Button */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: -40px;
}

button:hover {
    background-color: #0056b3;
}
